.header {
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header.even {
    background-color: var(--text-color);
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover; 
    z-index: 0;
}


.content {
    width: 700px;
    z-index: 1; 
    color: var(--primary-color); 
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.content-divider {
    content: ''; 
    width: 100%; 
    background-color: var(--primary-color);
   
    height: 5px;
    border-radius: 10px; 
    bottom: 0; 
}



.counter {
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}


@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.scroll-arrow {
    position: absolute;
    bottom: 30px; /* Adjust to position at the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.2;
  }
  
  .scroll-arrow:hover {
    background-color: #f0f0f0; /* Change on hover */

  }
  
  .arrow-icon {
    font-size: 24px; /* Arrow size */
    color: #333;
  }