.timeline {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: "Georgia", serif;
}

.timeline-content {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
}
  
.timeline-vertical-line {
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 50%; /* Linia wyśrodkowana */
    transform: translateX(-50%);
    width: 2px;
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    z-index: -1;
}
  
.timeline-vertical-line::before, .timeline-vertical-line::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    width: 28px;
    height: 28px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.timeline-vertical-line::before {
    top: 0;
}

.timeline-vertical-line::after {
    bottom: 0;
}
